

body{
  margin: 0;
}

*{
  box-sizing: border-box;
}

header{
  /* padding: 20px 10%; */
  /* position: fixed; */
}

main{
  > section{
    padding: 20px 10%;
  }
  > #hero{
    height: 60vh;
    color: white;
    background-image: url("./images/nature8.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;

    &::before{
      content: "";
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background-color: rgba(170, 175, 182, 63%);
    }
    > div{
      position: relative;
      z-index: 1;
      width: 60%;
      text-align: center;

      > h3{
        text-transform: uppercase;
      }
      > h1{
        text-transform: uppercase;
      }
      > p{

      }
      > button{
        text-transform: uppercase;
      }
    }
  }
  > #newOffers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    > .offersImages{
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
      grid-template-rows: 2fr 3fr 2fr 3fr;

      > div{
        background-size: cover;
        background-position: center;
      }
      > :nth-child(1){
        grid-area: 1 / 2 / 3 / 5;
        background-image: url("./images/cssAward.jpg");
      }
      > :nth-child(2){
        grid-area: 3 / 3 / 5 / 6;
        background-image: url("./images/notColour.jpg");
      }
      > :nth-child(3){
        grid-area: 2 / 1 / 4 / 4;
        background-image: url("./images/unfinishedProject.jpg");
      }
    }
  }
  > #blogPosts{
    background-color: #80cc6c;

    > h2{
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0.3em;
    }
    > .horizontalLine{
      background-color: white;
    }
    > .posts{
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px 200px;
      gap: 20px;
      
      > :first-child{
        grid-row: span 2;
      }
      > div{
        position: relative;
        > img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          /* object-position: center; */
        }
        > div{
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 80px;
          background-color: rgba(250, 235, 215, 0.386);
        }
      }
    }
  }
}

.horizontalLine{
  width: 50px;
  height: 3px;
  margin: 0 auto;
}